/* INDIVIDUAL CONSTELLATION PAGE CSS */

.constellation-container {
    background-color: #0e0d1f;
    color: white;
    display: flex;
    justify-content: space-around;
    height: 87.9vh;
    position: relative;
    /* overflow: hidden; */
}


.form-container {
    text-align: center;
    width: 60%;
    margin: 0 auto;
    margin-top: 0px;
    margin-top: 2%;
    padding: 2rem;
    font-size: 2rem;
    font-family: var(--font-family);
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }


.constellation-container label {
    display: block;
    font-size: 1.8rem;
    font-family: var(--font-family);
    margin: 1rem auto;
    width: 100%;
    text-align: center;   
}

.constellation-image {
    width: 50%;
    padding: 20px; 
    cursor: default;
    position: relative;
    box-sizing: border-box; 
}




/* DRAWING STYLES */
.constellation-draw {
    width: 644px;
    height: 730px;
    margin: 2%;
    box-sizing: border-box;
    padding: 20px; 
    cursor: default;
    position: relative;
    border: 3px solid rgba(255, 255, 255, 0.2); 
    box-sizing: border-box; 
    border-radius: 2%;
}


.drawing {
    cursor: crosshair;
}

.draw-tools {
    font-size: 3.5rem;
    cursor: pointer;
    user-select: none;
    color: grey;
    position: absolute;
    width: 12%;
    height: 12%;
    background-color: rgb(29, 27, 65);
    border: 3px solid rgba(187, 187, 187, 0.2);
    box-sizing: border-box;
    border-radius: 10%;
    margin: 2%;
}

.draw-tools:active {
    background-color: rgb(20, 18, 45); /* Darker background color */
    border-color: rgba(150, 150, 150, 0.2); /* Darker border color */
    color: rgb(255, 255, 255) /* text color */
}

.draw-tools.drawing:not(:active), 
.draw-tools.lining:not(:active),
.draw-tools.selecting:not(:active) {
    color: white;
}

.draw-tools.drawing-clear {
    top: 30%;
    left: 0;
}

.draw-tools.drawing-text {
    top: 0;
    left: 0;
}

.draw-tools.drawing-line {
    top: 15%;
    left: 0;
    font-size: 3rem;
}

.draw-tools:not(:active):hover {
    
    border: 3px solid rgba(255, 255, 255, 0.2);
}





.constellation-info {
    width: 45%;
    box-sizing: border-box;
    padding: 20px;
    display: flex; /* Add flex container property */
    flex-direction: column; /* Stack children vertically */
    align-items: center; /* Center children horizontally */
}

.constellation-info label {
    font-family: var(--font-family);
    font-size: 2rem;
    font-weight: bold;
    color: white;
}

.constellation-info textarea {
    font-family: var(--font-family);
    font-size: 1.6rem;
    width: 60%;
    height: 200px; 
    background-color: transparent;
    color: white;
    text-align: center;
    border: none;
    outline: none;
    resize: none; /* Disable textarea resizing */
}

.constellation-info input {
    font-family: var(--font-family);
    font-size: 1.1rem;
    font-weight: bold;
    color: rgb(41, 41, 41);
    width: 80%;
}




.constellation-edit-title input {
    font-family: var(--font-family);
    font-size: 3rem;
    font-weight: bold;
    color: white;
    background-color: transparent;
    border: none;
    outline: none;
    text-align: center;
}




.constellation-description {
    font-family: var(--font-family);
    font-size: 1.6rem;
    font-weight: bold;
    width: 630px;
    height: 450px; 
}

.constellation-star {
    position: absolute;
    background-color: beige;
    border-radius: 50%;
    animation: shimmer 1.5s infinite alternate; 
}

.constellation-lines {
    position: absolute;
    top: 0%;
    left:0%;
    width: 100%;
    height: 100%;

    opacity: 0.2;
    transition: opacity 0.3s ease; 
}

.constellation-line {
    position: absolute;
    background-color: beige;
    height: 2px;
}


.constellation-buttons {
    width: 740px;   
    display: flex;
    justify-content:space-evenly;
}





.constellation-puzzle {
    width: 740px;   
    display: flex;
    justify-content:space-around;
}

.puzzle-input {
    width: 600px;
    font-family: var(--font-family);
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
}

.puzzle-answer {
    width: 500px;
    font-family: var(--font-family);
    font-size: 2rem;
    font-weight: bold;
    color: white;
}