

.star {
    position: absolute;
    background-color: rgb(229, 221, 177);
    border-radius: 50%;
    
    animation: shimmer 1.5s infinite alternate, shake 1.5s infinite alternate; /* Combine animations */
}

.moon {
    position: absolute;
    background-color: rgb(229, 221, 177);
    border-radius: 50%;
}

/* Update the .constellation style */
.constellation {
    position: absolute;
    /* border: 5px solid beige; 
    box-sizing: border-box;  */
}

.constellation-star {
    position: absolute;
    background-color: beige;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    animation: shimmer 1.5s infinite alternate; /* Combine animations */
}

.constellation-name {
    position: absolute;
    top: 10%; 
    left: 10%; 
    transform: translate(-50%, -50%);
    font-family: var(--font-family);
    font-size: 16px;
    font-weight: bolder;
    color:beige;
    width:100%;

    opacity: 0; 
    transition: opacity 0.3s ease; 
}


.constellation-lines {
    position: absolute;
    top: 0%;
    left:0%;
    width: 100%;
    height: 100%;

    opacity: 0.3;
    transition: opacity 0.4s ease; 
}

.constellation-line {
    position: absolute;
    background-color: beige;
    height: 2px;
}


.shooting-star {
    position: absolute;
    background-color: white;
    border-radius: 50%;
    animation: shooting-star-animation linear infinite;
    opacity: 1; /* Initial opacity */
}

body {
    min-height: 100vh;
    margin: 0;
}

.sky-container {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: rgb(14, 13, 31);
    overflow: auto; 
}

@keyframes shooting-star-animation {
    0% {
        transform: translate(0, 0);
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100% {
        /* transform: translate(${translateX}px, ${translateY}px); */
        opacity: 0;
    }
}




@keyframes shimmer {
    to {
        transform: scale(1.2);
    }
}

@keyframes shake {
    0%, 100% {
        transform: translate(0, 0) rotate(0deg); 
    } 25% {
        transform: translate(0.2px, 0.2px) rotate(45deg); 
    } 50% {
        transform: translate(-0.2px, -0.2px) rotate(-45deg); 
    } 75% {
        transform: translate(0.2px, -0.2px) rotate(90deg); 
    }
}



