

.star {
    position: absolute;
    background-color: rgb(229, 221, 177);
    border-radius: 50%;
    
    animation: shimmer 1.5s infinite alternate, shake 1.5s infinite alternate; /* Combine animations */
}

/* Update the .constellation style */
.constellation {
    position: absolute;
    width: 220px;
    height: 440px;
    /* border: 5px solid beige; 
    box-sizing: border-box;  */
  }

.constellation-star {
    position: absolute;
    background-color: beige;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    animation: shimmer 1.5s infinite alternate; /* Combine animations */
}

.constellation-name {
    position: absolute;
    top: 10%; /* Center the name vertically within the constellation */
    left: 10%; /* Center the name horizontally within the constellation */
    transform: translate(-50%, -50%);
    font-family: var(--font-family);
    font-size: 14px;
    font-weight: bold;
    color:blanchedalmond;
    opacity: 0; /* Initially hide the name */
    transition: opacity 0.3s ease; /* Add a smooth transition for opacity */
  }


/* nightsky.css */

.shooting-star {
    position: absolute;
    background-color: white;
    border-radius: 50%;
    animation: shooting-star-animation linear infinite;
    opacity: 1; /* Initial opacity */
  }

body {
    margin: 0;
    overflow: hidden;
}

.constellation-container {
    position: absolute;
    width: 905; /* Set a fixed width */
    height: 1706; /* Set a fixed height */
    background-color: rgb(14, 13, 31);
    overflow: auto; /* Allow scrolling if content exceeds the container's size */
}

@keyframes shooting-star-animation {
    0% {
        transform: translate(0, 0);
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100% {
        /* transform: translate(${translateX}px, ${translateY}px); */
        opacity: 0;
    }
}


  

@keyframes shimmer {
    to {
        transform: scale(1.2);
    }
}

@keyframes shake {
    0%, 100% {
        transform: translate(0, 0) rotate(0deg); 
    } 25% {
        transform: translate(0.2px, 0.2px) rotate(45deg); 
    } 50% {
        transform: translate(-0.2px, -0.2px) rotate(-45deg); 
    } 75% {
        transform: translate(0.2px, -0.2px) rotate(90deg); 
    }
}
  


