@import url('https://fonts.googleapis.com/css2?family=Gruppo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

:root {
    --font-family: 'Gruppo', sans-serif;
    --logo-font-family: 'Indie Flower', cursive;
    --color-bg: rgb(239, 237, 231);
    --color-button: rgb(38, 49, 121); 
    --color-text: rgb(239, 237, 231); 
    --colur-subtext: black;
}

h2 {
    font-family: var(--font-family);
    font-size: 3rem;
}

h4 {
    font-family: var(--font-family);
    font-size: 2rem;
}